<footer class="site-footer h-card"style="background-color: #1d2951;color: aqua;">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
          <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <!-- <li class="p-name">{{ site.author.name | escape }}</li> -->
            <li class="p-name">&#169; {{ site.author.name | escape }} {{ site.author.copyright-year | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
        <ul class="contact-list">
          {% if site.social_links.facebook -%}
            <li><a class="u-facebook_username" href="https://www.facebook.com/{{ site.social_links.facebook }}" target="_blank"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#facebook' | relative_url }}"></use></svg>facebook.com/{{ site.social_links.facebook }}</a></li>
          {%- endif %}
          {% if site.social_links.github -%}
            <li><a class="u-github_username" href="https://www.github.com/{{ site.social_links.github }}" target="_blank"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>github.com/{{ site.social_links.github }}</a></li>
          {%- endif %}
          {% if site.social_links.twitter -%}
            <li><a class="u-twitter_username" href="https://www.twitter.com/{{ site.social_links.twitter }}" target="_blank"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>twitter.com/{{ site.social_links.twitter }}</a></li>
          {%- endif %}
          </ul>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
