body{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 20px;
}
header a, header a:visited, footer a, footer a:visited{
    color: #4CAF50;
    text-decoration: none;
}

header a:hover, footer a:hover{
    color:rgb(223, 230, 248);
    text-decoration: solid;
}

footer, header{
background-color: #1d2951;
color: aqua;
}


.home img{
    width: 70%;
    height: auto;
    display: flex;
    margin-left: 15%;
    margin-top:15px;
    justify-content: center;
}
.internship{
    width: 70%;
    height: auto;
    display: flex;
    margin-left: 15%;
    margin-top:15px;
    margin-bottom: 20px;
    justify-content: center;
}
.post-header{
    background-color: rgb(238, 194, 0);
    color: black;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.post-content{
        background-color: #1d2951;
        padding: 10px;
}


.max-width-image{
    /* max-width: 400px; */
    min-width: 100px;
}
.post-content a{
    color:rgb(238, 194, 0);

}

.front-page-post{
    background-color: #ffffff;
    color: #000;
    padding: 15px;
    border-radius: 15px;
}
.home{
    background-color: #1d2951;
    padding: 20px;
    border-radius: 15px;
}
.home-article-title{
    font-size: x-large;
    font-weight: bolder;
}

.image-left{
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

.written, .post-meta{
    font-size: small;
}

.read-more-button{
    background-color: #f1b204;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

code{
    color: rgb(92, 12, 12);
}

.read-more-button:hover{
    background-color: #1d2951;
    color: #f1b204;
    
}


@media only screen and (max-width: 500px) {
  body {
    font-size: 16px;
  }

  .navwrapper{
    font-size: xx-small;
    padding: 0px;
  }


  h1.post-title{
    font-size:small;
    margin: 10px 0px 5px 0px;
  }

  .post-content{
    background-color: #1d2951;
    font-size: small;
  }

 .dt-published, .p-author{
    font-size: x-small;
 } 

  .post-header, .post-meta{
    background-color: #fff;
    padding:1px;
    font-size: xx-small;
  }
.home-article-title{
    font-size: medium;
    font-weight: bolder;
}

.front-page-post{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
}
.read-more-button{
    padding: 2px;
}

}