#horizontal-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7c4a1a;
  }
  
 #horizontal-navigation  li {
    float: left;
  }
  
  #horizontal-navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #horizontal-navigation li a:hover {
    background-color: #111;
  }

#current-page{
  background-color: #000;
  color: #f1b204;
}