@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

body{
    color:black;
    font-size: 3vw;
    font-family: 'Love Ya Like A Sister', cursive;
    align-items: center;
    justify-content: center;
}
img{
    width: 90%;
    height: auto;
    margin-bottom: 30px;
}
p{
    line-height: 5px;
}
span{
    font-size: 4vw;
}
.content{
    background-color: white;
    opacity: 0.5;
    margin: 30px;
    padding: 10px 30px 10px 30px;
    border-radius: 2%;
    box-shadow: 0 20px 20px black; 
}
.back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation-name: backdiv;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}

.heart {
  position: absolute;
  margin: auto;
  opacity: 0.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: red;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart:after {
  background-color: red;
  opacity: 0.5;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart:before {
  background-color: red;
  opacity: 0.5;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes backdiv {
   0%{
       background: linear-gradient(0deg, red, orange, yellow, green, violet, indigo, blue);
   }

   17%{
       background: linear-gradient(0deg, orange, yellow, green, violet, indigo, blue, red);
   }
 
   34%{
       background: linear-gradient(0deg,  yellow, green, violet, indigo, bluered, orange);
   }

   51%{
       background: linear-gradient(0deg, green, violet, indigo, blue, red, orange, yellow);
   }

   68%{
       background: linear-gradient(0deg, violet, indigo, blue, red, orange, yellow);
   }
 
   85%{
       background: linear-gradient(0deg, indigo, blue, red, orange, yellow, green, violet);
   }

   100%{
       background: linear-gradient(0deg,  blue, red, orange, yellow, green, violet, indigo, blue);
   }
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}
